Date time variables, take dates, time or date and time as values. Some variables contain only dates, some only time, and some both date and time. We can enrich the dataset dramatically by extracting information from the date and time. In this recipe, we will become familiar with how date and time variables look like.

In [1]:
import pandas as pd
import numpy as np

In [2]:
np.random.seed(29)

# create an array of 5 dates starting at '2019-03-05', one per minute
rng_min = pd.date_range('2019-03-05', periods=5, freq='T')

# create an array of 5 dates starting at '2019-03-05', one per day
rng_day = pd.date_range('2019-03-05', periods=5, freq='D')

df = pd.DataFrame({ 'Date1': rng_min, 'Date2': rng_day, 'Val': np.random.randn(len(rng_min)) }) 

print(df)

                Date1      Date2       Val
0 2019-03-05 00:00:00 2019-03-05 -0.417482
1 2019-03-05 00:01:00 2019-03-06  0.706032
2 2019-03-05 00:02:00 2019-03-07  1.915985
3 2019-03-05 00:03:00 2019-03-08 -2.141755
4 2019-03-05 00:04:00 2019-03-09  0.719057

In [3]:
df.dtypes

Date1    datetime64[ns]
Date2    datetime64[ns]
Val             float64
dtype: object

Below we can see the format of date variables in a real dataset. This is the loan book data set from Lending Club which is publicly available and can be downloaded from this [website](https://www.lendingclub.com/info/download-data.action). For this demo, go ahead and donwload the "Loan Data" (not the "Declined Loan Data") and save it to the parent directory of this repository.

In [4]:
# load the titanic dataset as example

date_cols = [
    'issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d',
    'debt_settlement_flag_date', 'settlement_date'
]

data = pd.read_csv('../LoanStats3a.csv', skiprows=1, usecols=date_cols)
data.head()

C:\Users\Sole\Anaconda3\envs\feml\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,issue_d,last_pymnt_d,next_pymnt_d,last_credit_pull_d,debt_settlement_flag_date,settlement_date
0,Dec-2011,Jan-2015,NaN,Dec-2018,NaN,NaN
1,Dec-2011,Apr-2013,NaN,Oct-2016,NaN,NaN
2,Dec-2011,Jun-2014,NaN,Jun-2017,NaN,NaN
3,Dec-2011,Jan-2015,NaN,Apr-2016,NaN,NaN
4,Dec-2011,Jan-2017,NaN,Apr-2018,NaN,NaN

In [5]:
data.dtypes

issue_d                      object
last_pymnt_d                 object
next_pymnt_d                 object
last_credit_pull_d           object
debt_settlement_flag_date    object
settlement_date              object
dtype: object

In [6]:
data['issue_d'].unique()

array(['Dec-2011', 'Nov-2011', 'Oct-2011', 'Sep-2011', 'Aug-2011',
       'Jul-2011', 'Jun-2011', 'May-2011', 'Apr-2011', 'Mar-2011',
       'Feb-2011', 'Jan-2011', 'Dec-2010', 'Nov-2010', 'Oct-2010',
       'Sep-2010', 'Aug-2010', 'Jul-2010', 'Jun-2010', 'May-2010',
       'Apr-2010', 'Mar-2010', 'Feb-2010', 'Jan-2010', 'Dec-2009',
       'Nov-2009', 'Oct-2009', 'Sep-2009', 'Aug-2009', 'Jul-2009',
       'Jun-2009', 'May-2009', 'Apr-2009', 'Mar-2009', 'Feb-2009',
       'Jan-2009', 'Dec-2008', 'Nov-2008', 'Oct-2008', 'Sep-2008',
       'Aug-2008', 'Jul-2008', 'Jun-2008', 'May-2008', 'Apr-2008',
       'Mar-2008', 'Feb-2008', 'Jan-2008', 'Dec-2007', 'Nov-2007',
       'Oct-2007', 'Sep-2007', 'Aug-2007', 'Jul-2007', 'Jun-2007', nan],
      dtype=object)

In [7]:
for col in date_cols:
    print(col, '\n', data[col].unique(),'\n')

issue_d
 ['Dec-2011' 'Nov-2011' 'Oct-2011' 'Sep-2011' 'Aug-2011' 'Jul-2011'
 'Jun-2011' 'May-2011' 'Apr-2011' 'Mar-2011' 'Feb-2011' 'Jan-2011'
 'Dec-2010' 'Nov-2010' 'Oct-2010' 'Sep-2010' 'Aug-2010' 'Jul-2010'
 'Jun-2010' 'May-2010' 'Apr-2010' 'Mar-2010' 'Feb-2010' 'Jan-2010'
 'Dec-2009' 'Nov-2009' 'Oct-2009' 'Sep-2009' 'Aug-2009' 'Jul-2009'
 'Jun-2009' 'May-2009' 'Apr-2009' 'Mar-2009' 'Feb-2009' 'Jan-2009'
 'Dec-2008' 'Nov-2008' 'Oct-2008' 'Sep-2008' 'Aug-2008' 'Jul-2008'
 'Jun-2008' 'May-2008' 'Apr-2008' 'Mar-2008' 'Feb-2008' 'Jan-2008'
 'Dec-2007' 'Nov-2007' 'Oct-2007' 'Sep-2007' 'Aug-2007' 'Jul-2007'
 'Jun-2007' nan]

last_pymnt_d
 ['Jan-2015' 'Apr-2013' 'Jun-2014' 'Jan-2017' 'May-2016' 'Apr-2012'
 'Nov-2012' 'Jun-2013' 'Sep-2013' 'Jul-2012' 'Oct-2013' 'May-2013'
 'Feb-2015' 'Aug-2015' 'Oct-2012' 'Sep-2012' nan 'Dec-2012' 'Dec-2014'
 'Aug-2013' 'Nov-2013' 'Jan-2014' 'Apr-2014' 'Aug-2014' 'Oct-2014'
 'Aug-2012' 'Jul-2014' 'Jul-2013' 'Jan-2016' 'Feb-2016' 'Apr-2015'
 'Feb-2014' 'Sep-2014' 'Jun-2012' 'Feb-2013' 'Jun-2016' 'Mar-2013'
 'May-2014' 'Mar-2015' 'Jan-2013' 'Dec-2013' 'Feb-2012' 'Mar-2014'
 'Sep-2015' 'Nov-2015' 'Mar-2016' 'Jan-2012' 'Oct-2015' 'Dec-2016'
 'Nov-2014' 'Mar-2012' 'May-2012' 'Aug-2016' 'Jul-2016' 'Oct-2016'
 'Dec-2015' 'Jun-2015' 'Feb-2017' 'Sep-2016' 'Nov-2016' 'May-2015'
 'Jul-2015' 'Apr-2016' 'Apr-2017' 'Dec-2011' 'Nov-2011' 'Oct-2011'
 'Sep-2011' 'Aug-2011' 'Jul-2011' 'Jun-2011' 'May-2011' 'Apr-2011'
 'Mar-2011' 'Feb-2011' 'Jan-2011' 'Dec-2010' 'Nov-2010' 'Oct-2010'
 'Sep-2010' 'Aug-2010' 'Jul-2010' 'Jun-2010' 'May-2010' 'Apr-2010'
 'Mar-2010' 'Feb-2010' 'Jan-2010' 'Dec-2009' 'Nov-2009' 'Oct-2009'
 'Sep-2009' 'Aug-2009' 'Jul-2009' 'Jun-2009' 'May-2009' 'Apr-2009'
 'Mar-2009' 'Feb-2009' 'Jan-2009' 'Dec-2008' 'Oct-2008' 'Aug-2008'
 'Jul-2008' 'Sep-2008' 'Jun-2008' 'May-2008' 'Nov-2008' 'Apr-2008'
 'Mar-2008' 'Feb-2008' 'Jan-2008' 'Dec-2007']

next_pymnt_d
 [nan 'Jan-2016' 'Sep-2013' 'Feb-2016' 'Feb-2014' 'May-2014' 'Jun-2013'
 'Mar-2012' 'Apr-2012' 'May-2013' 'Aug-2012' 'Aug-2013' 'Jun-2012'
 'Nov-2013' 'Feb-2012' 'Oct-2011' 'Jan-2013' 'Jan-2014' 'Jul-2013'
 'Jul-2015' 'Jan-2012' 'Dec-2012' 'Jun-2011' 'Feb-2013' 'Nov-2011'
 'Nov-2012' 'Dec-2011' 'Aug-2011' 'Sep-2011' 'Apr-2011' 'Mar-2014'
 'Apr-2013' 'Mar-2011' 'Jul-2012' 'Aug-2014' 'Oct-2013' 'Sep-2012'
 'May-2012' 'Apr-2015' 'Jul-2011' 'Dec-2015' 'Dec-2013' 'Jan-2011'
 'Oct-2012' 'Nov-2014' 'Mar-2013' 'Aug-2015' 'Feb-2015' 'May-2015'
 'Jul-2014' 'Nov-2015' 'Sep-2014' 'Oct-2015' 'May-2011' 'Feb-2011'
 'Dec-2014' 'Jun-2015' 'Apr-2014' 'Jan-2015' 'Sep-2015' 'Jun-2014'
 'Nov-2010' 'Oct-2010' 'Dec-2010' 'Mar-2015' 'Oct-2014' 'Jul-2010'
 'Sep-2010' 'May-2010' 'Aug-2010' 'Mar-2010' 'Jun-2010' 'Apr-2010'
 'Feb-2010' 'Dec-2009' 'Nov-2009' 'Oct-2009' 'Jan-2010' 'Sep-2009'
 'Jun-2009' 'Aug-2009' 'Jul-2009' 'May-2009' 'Apr-2009' 'Jan-2009'
 'Oct-2008' 'Feb-2009' 'Nov-2008' 'Sep-2008' 'Mar-2009' 'Dec-2008'
 'Aug-2008' 'Jun-2008' 'Jul-2008' 'Apr-2008' 'May-2008' 'Feb-2008'
 'Jan-2008' 'Mar-2008']

last_credit_pull_d
 ['Dec-2018' 'Oct-2016' 'Jun-2017' 'Apr-2016' 'Apr-2018' 'Feb-2017'
 'Dec-2014' 'Dec-2016' 'Nov-2018' 'Apr-2017' 'Oct-2018' 'Sep-2018'
 'May-2014' 'Jul-2015' 'Feb-2016' 'Apr-2019' 'Jan-2018' 'Mar-2014'
 'Sep-2012' 'Feb-2019' 'Jan-2015' 'Mar-2018' 'Jan-2017' 'Aug-2018'
 'Jun-2018' 'Mar-2019' 'Dec-2015' 'Jun-2012' 'Jan-2019' 'Jul-2018'
 'Mar-2015' 'Sep-2014' 'Jan-2016' 'Apr-2014' 'Oct-2014' 'Feb-2018'
 'Feb-2014' 'Nov-2015' 'Jul-2014' 'Dec-2012' 'Feb-2013' 'Jul-2017'
 'Jun-2016' 'Oct-2017' 'Jul-2016' 'Jun-2015' 'May-2018' 'Feb-2012'
 'Nov-2013' 'Nov-2016' 'Oct-2015' 'May-2016' 'Nov-2017' 'Apr-2012'
 'Aug-2017' 'Sep-2015' 'Mar-2016' 'May-2013' 'Jun-2014' 'Aug-2012'
 'Sep-2013' 'Sep-2017' 'Jan-2012' 'Aug-2014' 'Oct-2013' 'May-2017'
 'Mar-2017' 'May-2012' 'Aug-2016' 'Jul-2012' 'Jan-2014' 'Jun-2013'
 'Dec-2017' 'Aug-2015' 'Dec-2013' 'Nov-2014' 'Sep-2016' 'Nov-2012'
 'Mar-2013' 'Apr-2013' 'May-2015' 'Apr-2015' 'Feb-2015' 'Jul-2013'
 'Mar-2012' 'Aug-2013' 'Oct-2012' 'Nov-2011' 'Dec-2011' 'Oct-2011'
 'Sep-2011' 'Jan-2013' 'Aug-2011' 'Jul-2011' 'Jun-2011' 'May-2011'
 'Apr-2011' 'Mar-2011' 'Feb-2011' 'Jan-2011' 'Dec-2010' 'Nov-2010'
 'Oct-2010' nan 'Sep-2010' 'Aug-2010' 'Jul-2010' 'Jun-2010' 'May-2010'
 'Apr-2010' 'Mar-2010' 'Feb-2010' 'Aug-2007' 'Jan-2010' 'Dec-2009'
 'Nov-2009' 'Oct-2009' 'Sep-2009' 'Jul-2009' 'Aug-2009' 'May-2009'
 'Jun-2009' 'Apr-2009' 'Mar-2009' 'Feb-2009' 'Dec-2008' 'Jan-2009'
 'Jun-2008' 'Sep-2008' 'Aug-2008' 'Mar-2008' 'Oct-2008' 'Feb-2008'
 'Jan-2008' 'Dec-2007' 'Jul-2008' 'Oct-2007' 'Sep-2007' 'Jun-2007'
 'May-2007' 'Jul-2007' 'Nov-2007']

debt_settlement_flag_date
 [nan 'Feb-2016' 'May-2014' 'Apr-2014' 'Apr-2016' 'Feb-2015' 'Mar-2013'
 'Mar-2014' 'Nov-2014' 'Jun-2017' 'Apr-2015' 'Sep-2015' 'Jun-2013'
 'Feb-2014' 'Oct-2017' 'Apr-2017' 'Feb-2019' 'Jun-2016' 'Mar-2016'
 'Dec-2015' 'Jun-2015' 'Dec-2013' 'Mar-2017' 'Jul-2014' 'Aug-2015'
 'Sep-2014' 'Oct-2013' 'Dec-2014' 'Nov-2017' 'Sep-2013' 'Nov-2013'
 'Jan-2015' 'Oct-2012' 'Jul-2018' 'Jul-2017' 'Jun-2012' 'Aug-2018'
 'Aug-2013' 'May-2016' 'Apr-2013' 'Aug-2014' 'Sep-2016' 'Oct-2014'
 'Oct-2016' 'Jun-2014' 'Jul-2013' 'Sep-2017' 'Feb-2012' 'Feb-2018'
 'May-2018' 'Nov-2012' 'Sep-2018' 'Jul-2015' 'Jun-2018' 'May-2015'
 'Sep-2012' 'Feb-2011' 'Dec-2016' 'Dec-2012' 'Oct-2011' 'Feb-2013'
 'Nov-2011' 'Mar-2015' 'Feb-2010' 'Jan-2018']

settlement_date
 [nan 'Feb-2015' 'Nov-2013' 'Mar-2014' 'May-2015' 'Aug-2014' 'Mar-2013'
 'Oct-2013' 'May-2014' 'Jul-2016' 'Jan-2015' 'Jun-2013' 'Feb-2014'
 'Apr-2013' 'Apr-2017' 'Jun-2015' 'Aug-2015' 'Apr-2015' 'Feb-2013'
 'May-2017' 'Aug-2013' 'Jan-2014' 'Jul-2014' 'Oct-2012' 'Dec-2013'
 'Jun-2014' 'Mar-2016' 'Sep-2013' 'Feb-2017' 'Jul-2013' 'May-2012'
 'Mar-2015' 'Apr-2018' 'Jun-2012' 'Oct-2014' 'Nov-2014' 'Feb-2018'
 'Dec-2014' 'Apr-2016' 'Aug-2012' 'Jan-2012' 'Mar-2017' 'Sep-2016'
 'Sep-2014' 'Sep-2012' 'Oct-2011' 'Feb-2012' 'Apr-2014' 'Jul-2012'
 'Nov-2012' 'Nov-2017' 'Jan-2017' 'Jan-2018' 'May-2013' 'Feb-2011'
 'Aug-2016' 'Jul-2011' 'Mar-2012' 'Feb-2010' 'Mar-2009' 'Aug-2017'
 'Jan-2016']

In [8]:
for col in date_cols:
    data[col] = pd.to_datetime(data[col])
    
data.dtypes

issue_d                      datetime64[ns]
last_pymnt_d                 datetime64[ns]
next_pymnt_d                 datetime64[ns]
last_credit_pull_d           datetime64[ns]
debt_settlement_flag_date    datetime64[ns]
settlement_date              datetime64[ns]
dtype: object

In [9]:
data.head()

,issue_d,last_pymnt_d,next_pymnt_d,last_credit_pull_d,debt_settlement_flag_date,settlement_date
0,2011-12-01,2015-01-01,NaT,2018-12-01,NaT,NaT
1,2011-12-01,2013-04-01,NaT,2016-10-01,NaT,NaT
2,2011-12-01,2014-06-01,NaT,2017-06-01,NaT,NaT
3,2011-12-01,2015-01-01,NaT,2016-04-01,NaT,NaT
4,2011-12-01,2017-01-01,NaT,2018-04-01,NaT,NaT